# Documentation and Logic
Yahoo finance does not explicitly forbid web scraping.  They do offer an API, but according to the documentation the historical data was limited to hard values like 1 month, 1 day, ect.  You could not specify dates.  There is also a yahoo finance web scrapping package for python, but I found that it failed to get a lot of the data.  Random dates would come up as NA even though the data existed.  I’m making a de novo scraping to get around that issue.  We are primarily interested in historical data, so the code focuses on fetching the historical data table for the specified entities.

In [1]:
import pandas as pd
import time

from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager

# Set the executable path and initialize Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless = True)

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
Driver [C:\Users\karar\.wdm\drivers\chromedriver\win32\93.0.4577.63\chromedriver.exe] found in cache

In [2]:
market_tickers = [
    '%5EGSPC', # S&P 500
    '%5EIXIC' # NASDAQ Composite
]

# cryptcurrency tickers
crypto_tickers = [
#     'AAVE',
#     'BNB',
    'BTC',
#     'ADA',
#     'LINK',
#     'ATOM',
#     'CRO',
#     'DOGE',
#     'EOS',
#     'ETH',
#     'MIOTA',
#     'LTC',
#     'XMR',
#     'XEM',
#     'DOT',
#     'SOL',
#     'XLM',
#     'USDT',
#     'TRX',
#     'UNI',
#     'USDC',
#     'WBTC',
#     'XRP'
]

crypto_tickers = [f"{tick}-USD" for tick in crypto_tickers]

In [3]:
def get_historical_data(browser, ticker, start, end):
    """Given a list of crypto tickers and a start and end data (format = ‘mm/dd/yyyy’) return the historical price data from Yahoo Finance."""
    
    final_df = pd.DataFrame()
    
    # get the base URL and UNIX date ranges
    base_url = 'https://finance.yahoo.com/quote/'
    start = create_epoch(start) - 86400
    end = create_epoch(end)
    days_100 = 86400 * 100
    
    # get info in chunks of 100 because of how YF loads
    while start < end:
        
        # get 100 days past the start as the end
        current_end = end if start + days_100 > end else start + days_100
        
        # visit website and prase out data
        url = f"{base_url}{ticker}/history?period1={start}&period2={current_end}"
        browser.visit(url)
        html = browser.html
        df = parse_html(bs(html, 'html.parser'))
        
        # add data to final df and make the current end_date next start date 
        final_df = final_df.append(df)
        start = current_end
        
    # final df cleaning
    final_df['Date'] = pd.to_datetime(final_df['Date'])
    final_df = final_df.sort_values(by = 'Date')
    
    return final_df.reset_index(drop = True)

In [4]:
def create_epoch(date):
    """Given data (format = ‘mm/dd/yyyy’) return the Epoch."""
    date_time = f"{date} 12:59:59"
    pattern = '%m/%d/%Y %H:%M:%S'
    return int(time.mktime(time.strptime(date_time, pattern)))

In [5]:
# This is the function that will have to change if Yahoo Finance changes their website
def parse_html(fin_soup):
    """Given html data from Yahoo Finance return a price history dataframe."""
    
    # Parse out the rows
    rows = []
    for section in fin_soup.find('table').children:
        for tr in section:
            row = []
            for tx in tr:
                row.append(tx.text)
            rows.append(row)

    # make dataframe
    return pd.DataFrame(rows[1:len(rows) - 1], columns = rows[0])

In [6]:
history = []
# for tick in market_tickers:
#     history.append(get_historical_data(browser, ticker, '10/20/2015', '10/30/2015'))
for tick in crypto_tickers:
    history.append(get_historical_data(browser, tick, '12/1/2017', '12/1/2018'))
browser.quit()
history[0].shape

(367, 7)

In [7]:
history[0].head(50)

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,2017-12-01,"10,198.60","11,046.70","9,694.65","10,975.60","10,975.60","6,783,119,872"
1,2017-12-02,"10,978.30","11,320.20","10,905.10","11,074.60","11,074.60","5,138,500,096"
2,2017-12-03,"11,082.70","11,858.70","10,862.00","11,323.20","11,323.20","6,608,309,760"
3,2017-12-04,"11,315.40","11,657.20","11,081.80","11,657.20","11,657.20","6,132,409,856"
4,2017-12-05,"11,685.70","12,032.00","11,604.60","11,916.70","11,916.70","6,895,260,160"
5,2017-12-06,"11,923.40","14,369.10","11,923.40","14,291.50","14,291.50","12,656,300,032"
6,2017-12-07,"14,266.10","17,899.70","14,057.30","17,899.70","17,899.70","17,950,699,520"
7,2017-12-08,"17,802.90","18,353.40","14,336.90","16,569.40","16,569.40","21,135,998,976"
8,2017-12-09,"16,523.30","16,783.00","13,674.90","15,178.20","15,178.20","13,911,300,096"
9,2017-12-10,"15,168.40","15,850.60","13,226.60","15,455.40","15,455.40","13,433,299,968"
10,2017-12-11,"15,427.40","17,513.90","15,404.80","16,936.80","16,936.80","12,153,900,032"
11,2017-12-12,"16,919.80","17,781.80","16,571.60","17,415.40","17,415.40","14,603,799,552"
12,2017-12-13,"17,500.00","17,653.10","16,039.70","16,408.20","16,408.20","12,976,900,096"
13,2017-12-14,"16,384.60","17,085.80","16,185.90","16,564.00","16,564.00","13,777,399,808"
14,2017-12-15,"16,601.30","18,154.10","16,601.30","17,706.90","17,706.90","14,309,999,616"
15,2017-12-16,"17,760.30","19,716.70","17,515.30","19,497.40","19,497.40","12,740,599,808"
16,2017-12-17,"19,475.80","20,089.00","18,974.10","19,140.80","19,140.80","13,314,599,936"
17,2017-12-18,"19,106.40","19,371.00","18,355.90","19,114.20","19,114.20","14,839,499,776"
18,2017-12-19,"19,118.30","19,177.80","17,275.40","17,776.70","17,776.70","16,894,499,840"
19,2017-12-20,"17,760.30","17,934.70","16,077.70","16,624.60","16,624.60","22,149,699,584"
20,2017-12-21,"16,642.40","17,567.70","15,342.70","15,802.90","15,802.90","16,516,599,808"
21,2017-12-22,"15,898.00","15,943.40","11,833.00","13,831.80","13,831.80","22,197,999,616"
22,2017-12-23,"13,948.70","15,603.20","13,828.80","14,699.20","14,699.20","13,086,000,128"
23,2017-12-24,"14,608.20","14,626.00","12,747.70","13,925.80","13,925.80","11,572,299,776"
24,2017-12-25,"13,995.90","14,593.00","13,448.90","14,026.60","14,026.60","10,664,699,904"
25,2017-12-26,"14,036.60","16,461.20","14,028.90","16,099.80","16,099.80","13,454,300,160"
26,2017-12-27,"16,163.50","16,930.90","15,114.30","15,838.50","15,838.50","12,487,600,128"
27,2017-12-28,"15,864.10","15,888.40","13,937.30","14,606.50","14,606.50","12,336,499,712"
28,2017-12-29,"14,695.80","15,279.00","14,307.00","14,656.20","14,656.20","13,025,500,160"
29,2017-12-30,"14,681.90","14,681.90","12,350.10","12,952.20","12,952.20","14,452,599,808"
30,2017-12-31,"12,897.70","14,377.40","12,755.60","14,156.40","14,156.40","12,136,299,520"
31,2018-01-01,"14,112.20","14,112.20","13,154.70","13,657.20","13,657.20","10,291,200,000"
32,2018-01-02,"13,625.00","15,444.60","13,163.60","14,982.10","14,982.10","16,846,600,192"
33,2018-01-03,"14,978.20","15,572.80","14,844.50","15,201.00","15,201.00","16,871,900,160"
34,2018-01-04,"15,270.70","15,739.70","14,522.20","15,599.20","15,599.20","21,783,199,744"
35,2018-01-05,"15,477.20","17,705.20","15,202.80","17,429.50","17,429.50","23,840,899,072"
36,2018-01-06,"17,462.10","17,712.40","16,764.60","17,527.00","17,527.00","18,314,600,448"
37,2018-01-07,"17,527.30","17,579.60","16,087.70","16,477.60","16,477.60","15,866,000,384"
38,2018-01-08,"16,476.20","16,537.90","14,208.20","15,170.10","15,170.10","18,413,899,776"
39,2018-01-09,"15,123.70","15,497.50","14,424.00","14,595.40","14,595.40","16,659,999,744"
40,2018-01-10,"14,588.50","14,973.30","13,691.20","14,973.30","14,973.30","18,500,800,512"
41,2018-01-11,"14,968.20","15,018.80","13,105.90","13,405.80","13,405.80","16,534,099,968"
42,2018-01-12,"13,453.90","14,229.90","13,158.10","13,980.60","13,980.60","12,065,699,840"
43,2018-01-13,"13,952.40","14,659.50","13,952.40","14,360.20","14,360.20","12,763,599,872"
44,2018-01-14,"14,370.80","14,511.80","13,268.00","13,772.00","13,772.00","11,084,099,584"
45,2018-01-15,"13,767.30","14,445.50","13,641.70","13,819.80","13,819.80","12,750,799,872"
46,2018-01-16,"13,836.10","13,843.10","10,194.90","11,490.50","11,490.50","18,853,799,936"
47,2018-01-17,"11,431.10","11,678.00","9,402.29","11,188.60","11,188.60","18,830,600,192"
48,2018-01-18,"11,198.80","12,107.30","10,942.50","11,474.90","11,474.90","15,020,399,616"
49,2018-01-19,"11,429.80","11,992.80","11,172.10","11,607.40","11,607.40","10,740,400,128"

In [8]:
history[0].tail(20)

,Date,Open,High,Low,Close*,Adj Close**,Volume
347,2018-11-12,"6,411.76","6,434.21","6,360.47","6,371.27","6,371.27","4,295,770,000"
348,2018-11-13,"6,373.19","6,395.27","6,342.67","6,359.49","6,359.49","4,503,800,000"
349,2018-11-14,"6,351.24","6,371.55","5,544.09","5,738.35","5,738.35","7,398,940,000"
350,2018-11-15,"5,736.15","5,774.82","5,358.38","5,648.03","5,648.03","7,032,140,000"
351,2018-11-16,"5,645.32","5,657.02","5,498.94","5,575.55","5,575.55","5,279,320,000"
352,2018-11-17,"5,578.58","5,578.58","5,519.56","5,554.33","5,554.33","4,303,150,000"
353,2018-11-18,"5,559.74","5,653.61","5,559.74","5,623.54","5,623.54","4,159,680,000"
354,2018-11-19,"5,620.78","5,620.78","4,842.91","4,871.49","4,871.49","7,039,560,000"
355,2018-11-20,"4,863.93","4,951.61","4,272.11","4,451.87","4,451.87","8,428,290,000"
356,2018-11-21,"4,465.54","4,675.73","4,343.98","4,602.17","4,602.17","6,120,120,000"
357,2018-11-22,"4,611.57","4,629.64","4,365.64","4,365.94","4,365.94","4,569,370,000"
358,2018-11-23,"4,360.70","4,396.42","4,195.68","4,347.11","4,347.11","4,871,490,000"
359,2018-11-24,"4,347.69","4,413.09","3,795.16","3,880.76","3,880.76","4,679,500,000"
360,2018-11-25,"3,880.78","4,120.87","3,585.06","4,009.97","4,009.97","6,825,640,000"
361,2018-11-26,"4,015.07","4,107.14","3,643.92","3,779.13","3,779.13","6,476,900,000"
362,2018-11-27,"3,765.95","3,862.96","3,661.01","3,820.72","3,820.72","5,998,720,000"
363,2018-11-28,"3,822.47","4,385.90","3,822.47","4,257.42","4,257.42","7,280,280,000"
364,2018-11-29,"4,269.00","4,413.02","4,145.77","4,278.85","4,278.85","6,503,347,767"
365,2018-11-30,"4,289.09","4,322.98","3,942.82","4,017.27","4,017.27","6,048,016,717"
366,2018-12-01,"4,024.46","4,309.38","3,969.71","4,214.67","4,214.67","5,375,314,093"